@tailwind base;
@tailwind components;
@tailwind utilities;

@media(max-width :611px){
    .hid{
        display: block;
    }
    .hidd{
        display: none;
    }
    .logo{
        width:20vh;
    }
    .sym{
        width: 50vh;
    }
    .name{
        height: 30vh;
    }
}


/* src/components/ImageSlider.css */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .fullscreen img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
  